{% extends "base.html" %}

{% block title %} 
{{ company.company_name }} 
{%endblock %} 

{% block content %}
<!-- container for left and right section -->
<div class="grid grid-cols-1 xl:grid-cols-2 py-10 pb-40">
  <!-- left side : big company image -->
  <div class="w-full flex justify-center">
    <img
      class="object-cover"
      src="{{ company.image.url }}"
      alt="{{ company.company_name }}"
    />
  </div>

  <!-- right section -->
  <div class="w-full p-6">
    <!-- Company description -->
    <div class="mb-6">
      <h2 class="text-2xl font-bold mb-2">{{ company.company_name }}</h2>
      <h3 class="text-5lg font-semibold mb-2">{{ company.tagline }}</h3>
      <p class="text-gray-700">{{ company.details }}</p>
      <p class="mt-8 font-bold">REFERENCE</p>
      <p>
        <a
          href="{{ company.reference_link }}"
          target="_blank"
          class="text-gray-500 hover:text-gray-700 hover:underline"
          >{{ company.reference_link_label }}</a
        >
      </p>
    </div>

    <!-- chart and details section -->
    {% if company.show_chart %}
    <div class="flex flex-row flex-wrap justify-center py-6 items-center">
      <!-- Left side - Circle and Opinion -->

      <div class="md:w-4/12 flex justify-center w-full">
        <!-- Circular Percentage -->
        <div
          class="flex flex-col items-center justify-center w-56 h-56 border-4 border-gray-800 rounded-full"
        >
          <span class="text-5xl font-bold">{{ x_ready_percent }}%</span>
          <span class="text-lg text-gray-500">X Ready</span>
        </div>
        <!-- Opinion Section -->
      </div>

      <!-- Right side - Progress Bars and Details -->
      <div class="md:w-8/12 w-full">
        <!-- Progress Bars -->
        <div class="space-y-4">
          <!-- Bar 1 -->
          <div class="flex justify-between items-center">
            <span>Connect</span>
            <span>{{ company.connect }}%</span>
          </div>
          <div id="barContain" class="w-[{{ company.connect }}%] h-2 bg-gray-200 rounded-lg">
            <div
              id="statBarConnect"
              class="h-full bg-gray-800 rounded-lg"
            ></div>
          </div>

          <!-- Bar 2 -->
          <div class="flex justify-between items-center">
            <span>Take Picture</span>
            <span>{{ company.take_picture }}%</span>
          </div>
          <div id="barContain" class="w-[{{ company.take_picture }}%] h-2 bg-gray-200 rounded-lg">
            <div
              id="statBarTakePicture"
              class="h-full bg-gray-800 rounded-lg"
            ></div>
          </div>

          <!-- Bar 3 -->
          <div class="flex justify-between items-center">
            <span>View</span>
            <span>{{ company.view }}%</span>
          </div>
          <div id="barContain" class="w-[{{ company.view }}%] h-2 bg-gray-200 rounded-lg">
            <div id="statBarView" class="h-full bg-gray-800 rounded-lg"></div>
          </div>
        </div>

        <!-- Details Section -->
        <div class="text-gray-600 text-sm mt-2">
          <p>
            <span class="font-bold">Details:</span>
            {{ company.additional_details }}
          </p>
        </div>
      </div>
    </div>

    <div>
      <h3 class="text-lg font-bold">Our Opinion</h3>
      <p class="text-gray-700">{{ company.opinion }}</p>
    </div>

    {% endif %} {% if not company.show_chart %}
    <div class="text-gray-700">testing chart coming soon...</div>
    {% endif %}

  </div>
</div>


{% endblock %}
