{% extends "base.html" %}

{% block title %}
{{ company.company_name }}
{% endblock %}

{% block content %}
<!-- container for left and right section -->
<div class="flex flex-col lg:flex-row items-center lg:items-start mx-auto">
  <!-- left side : big company image -->
  <div class="w-full lg:w-1/2 mb-8 lg:mb-0">
    <img class="object-cover" src="{{ company.image.url }}" alt="{{ company.company_name }}">
  </div>
  
  <!-- right section -->
  <div class="w-full lg:w-1/2 lg:pl-12 py-12 px-12">
    
    <!-- Company description -->
    <div class="mb-6">
      <h2 class="text-2xl font-bold mb-2">{{ company.company_name }}</h2>
      <h3 class="text-5lg font-semibold mb-2">{{ company.tagline }}</h3>
      <p class="text-gray-700">{{ company.details }}</p>
      <p class="mt-4 font-bold">REFERENCE</p>
      <p><a href="{{ company.reference_link }}" class="text-gray-500 hover:text-gray-700 hover:underline">{{ company.reference_link_label }}</a></p>
    </div>
    
    <!-- chart and details section -->
    <div class="flex justify-between">
      <!-- Left side - Circle and Opinion -->
      {% if company.show_chart %}
      <div class="flex flex-col items-center space-y-8">
        <!-- Circular Percentage -->
        <div class="flex flex-col items-center justify-center w-40 h-40 border-4 border-gray-800 rounded-full">
          <span class="text-5xl font-bold">100%</span>
          <span class="text-lg text-gray-500">X Ready</span>
        </div>
        <!-- Opinion Section -->
        <div class="text-center">
          <h3 class="text-lg font-bold">Our Opinion</h3>
          <p class="text-gray-700">{{ company.opinion }}</p>
        </div>
      </div>
      {% endif %}
    

      <!-- Right side - Progress Bars and Details -->
      <div class="flex flex-col space-y-6">
        {% if company.show_chart %}
        <!-- Progress Bars -->
        <div class="space-y-4">
          <!-- Bar 1 -->
          <div class="flex justify-between items-center">
            <span>Connect</span>
            <span>{{ company.connect }}%</span>
          </div>
          <div class="w-full h-2 bg-gray-200">
            <div class="w-full h-full bg-gray-800"></div>
          </div>
  
          <!-- Bar 2 -->
          <div class="flex justify-between items-center">
            <span>Take Picture</span>
            <span>{{ company.take_picture }}%</span>
          </div>
          <div class="w-full h-2 bg-gray-200">
            <div class="w-full h-full bg-gray-800"></div>
          </div>
  
          <!-- Bar 3 -->
          <div class="flex justify-between items-center">
            <span>View</span>
            <span>{{ company.view }}%</span>
          </div>
          <div class="w-full h-2 bg-gray-200">
            <div class="w-full h-full bg-gray-800"></div>
          </div>
        </div>

        <!-- Details Section -->
        <div class="text-gray-600 text-sm">
          <p><span class="font-bold">Details:</span> {{ company.additional_details }}</p>
        </div>
        {% endif %}
    </div>
      </div>
    </div>

</div>
{% endblock %}
