{% extends "base.html" %}

{% block title %}
  Home Page
{% endblock %}

{% block content %}
<div class="relative w-full h-screen overflow-hidden">
  <iframe
      class="absolute top-0 left-0 w-full h-full object-cover"
      src="https://www.youtube.com/embed/Ikubxmmm7YY?autoplay=1&disablekb=1&controls=0&modestbranding=1&loop=1&fs=0&enablejsapi=1&start=0&end=19&playlist=Ikubxmmm7YY"
      frameborder="0"
      allow="autoplay; encrypted-media"
      allowfullscreen
  ></iframe>
  <div class="absolute inset-0 bg-black bg-opacity-50"></div>
  <!-- Add content here -->
  <!-- <div class="relative z-10 flex items-center justify-center h-full">
      <h1 class="text-white text-4xl">Your Website Title</h1>
  </div> -->
</div>
{% endblock %}


