{% extends "base.html" %}
{% load static %}

{% block title %}
 Best car interior photo software for 360 images with RICOH
{% endblock %}

{% block content %}
<div class="relative w-full h-screen overflow-hidden">
  <!-- background video -->
  <video
      class="absolute top-0 left-0 w-full h-full object-cover"
      src="{% static 'website/background_video.mp4' %}"
      autoplay
      loop
      muted
      playsinline
      style="transform: scale(1.15);" 
  ></video>
  <div class="absolute inset-0 bg-black bg-opacity-85"></div>
  <!-- content -->
  <div class="container mx-auto relative flex flex-col items-start justify-center h-full text-white p-8" style="justify-content: flex-start; padding-left: 10%; margin-top: 12%;">
    <p class="font-bold italic uppercase underline whitespace-nowrap text-5xl sm:text-6xl md:text-6xl lg:text-7xl xl:text-7xl">Ricoh Theta X</p>
    <p class="mt-2 italic text-lg sm:text-2xl md:text-3xl lg:text-3xl xl:text-3xl" >automobile imaging leader</p>
    <a href="#" class="mt-10 text-sm uppercase border border-white text-white py-3 px-14 hover:bg-white hover:text-black transition">Choose Software</a>
  </div>
</div>
{% endblock %}
